
.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.c1 {
    width: 60%;
}
.c2 {
    width: 40%;
}
.c3,
.c4 {
    width: 33%;
}
.c5 {
    width: 34%;
}


.c6 {
    width: 30%;
}
.c7 {
    width: 40%;
}
.c8 {
    width: 30%;
}
.c9 {
    width: 50%;
}
.c10 {
    width: 50%;
}

.logo {
    display: block;
}