{% extends "base.html" %}

{% block title %}description{% endblock %}

{% block content %}

    <h1>Descripción</h1>

    <section class="main-description">
        <div class="description--title">
            <h2>Un único lugar para las inversiones</h2>
            <p>Combinamos tecnologia y conocimiento de mercado para poner a tu disposición inversiones profesionales</p>    
        </div>

        <div class="description-detail--container">
            <div class="description-detail--card">
                <h2>Compara</h2>
                <p>En el portal encuentras informacion sobre los productos de la industria</p>    
            </div>
            <div class="description-detail--card">
                <h2>Invierte</h2>
                <p>Puedes acceder a través de nuestros aliados</p>
            </div>
            <div class="description-detail--card">
                <h2>Disfruta</h2>
                <p>Revisa como tus objetivos de inversión se cumplen en el tiempo</p>
            </div>
        </div>
    </section>

{% endblock content %}