{% extends "base.html" %}

{% block title %}Inicia Sesión{% endblock %}

{% block content %}

  <form method="POST" class="form">

    {% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
    </div>

    <input
      type="submit"
      name="submit"
      value="Inicia sesión"
      class="primary-button login-button"
    >
    <a href="/">
      ¿Olvidaste tu contraseña?
    </a>

    <h2>¿Aún no tienes cuenta en Inkoms?</h2>

    <a class="secondary-button signup-button"
      href="{% url 'sign_up' %}">
      Regístrate
    </a>

  </form>

{% endblock content %}