{% extends "index.html" %}

{% block title %}Bievenido{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <h1>Hola {{ user.username }}</h1>
        <a href="{% url 'sign_out' %}">
            Cerrar sesión
        </a>
    {% else %}
        <a href="{% url 'sign_up' %}">
            Registrate
        </a>
        <a class='button' href="{% url 'sign_in' %}">
            Iniciar sesión
        </a>
    {% endif %}

{% endblock content %}

{% comment %} En el block title lo que hacemos es cambiar el título 
de nuestro pestaña y eso lo podemos hacer con cada vista que queramos,
así no tenemos que escribir nuevamente la etiqueta {% endcomment %}

{% comment %} En el block content colocamos lo que queremos que 
se muestra en nuestra pagina y hacemos una condicional donde si 
el usuario inicio sesión correctamente mostrara su nombre de usuario 
y un enlace para que pueda cerrar sesión(lo cual no hemos hecho todavía).
Si es un visitante, un desconocido, haremos que le muestra el enlace para 
que pueda registrarse e iniciar sesión(que tampoco hemos hecho,
pero hagamoslo de una vez) y el template del formulario es 
algo parecido: {% endcomment %}