{% load static %}

<footer>
    
    <section class="footer-up">
        <section class="footer-left">
            <ul>
                <li><a href="#">Conócenos</a></li>
                <li>
                    <a href="{% url 'about' %}">Quiénes Somos</a>
                </li>
                <li><a href="#">Términos y condiciones</a></li>
                <li><a href="#">Confianza y seguridad</a></li>
            </ul>

        </section>

        <section class="footer-right">
            <a href="/" class="index">
                <img
                src="{% static '/images/logo_inkoms.png' %}"
                alt="Inkoms"
                class="">
            </a>
            <h3>contacto@inkoms.com</h3>
            <h2>Síguenos</h2>
            <ul class="footer-right--redes">
                <li>
                    <a href="https://www.linkedin.com/company/inkoms-investment/" class="redes" target="_blank" rel="noopener noreferrer">
                        <span class="redes--linkedin"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/inkoms_oficial/" class="redes" target="_blank" rel="noopener noreferrer">
                        <span class="redes--instagram"></span>
                    </a>
                </li>
                <li><a href="https://www.facebook.com/inkoms" class="redes" target="_blank" rel="noopener noreferrer">
                    <span class="redes--facebook"></span>
                </a></li>
                <li><a href="https://discord.gg/CTGRfc22pM" class="redes" target="_blank" rel="noopener noreferrer">
                    <span class="redes--discord"></span>
                </a></li>
                <li><a href="https://www.tiktok.com/@inkoms_oficial" class="redes" target="_blank" rel="noopener noreferrer">
                    <span class="redes--tiktok"></span>
                </a></li>
            </ul>
        </section>
    </section>

    <section class="footer-down">
        <!-- Copyright -->
        <ul class="copyright">
            <li>
                <p>
                    Copyright &copy;2022.
                    <a href="https://www.inkoms.com/" target="_blank" rel="noopener noreferrer">
                        Inkoms.
                    </a>
                </p>
                <p>
                    Todos los derechos reservados.
                </p>
            </li>
        </ul>
    </section>

</footer>