{% load static %}

<!DOCTYPE html>
<html lang="es">

    {% include 'head.html' %}

    <body>

        <header>
            <nav class="header-nav">
                <input type="checkbox" name="" id="nav__checkbox" class="nav__checkbox"/>
                <label for="nav__checkbox" class="nav__toggle">
                
                    <svg class="menu" viewBox="0 0 448 512" width="100" title="bars">
                        <path
                            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
                    </svg>
            
                
                    <svg class="close" viewBox="0 0 384 512" width="100" title="times">
                        <path
                            d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
                    </svg>
                </label>
            
                <ul class="nav__menu">
                    <li class="menu__logo">
                        <a href="/" class="index">
                            <img
                            src="{% static '/images/logo_inkoms.png' %}"
                            alt="Inkoms"
                            class="">
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">Quiénes Somos</a>
                    </li>
                    <li>
                        <a href="#">Contáctanos</a>
                    </li>
        
                    <li>
                        <div class="block-user">
                            {% block content %}
        
                            {% endblock content %}  
                        </div>  
                    </li>
        
                </ul>    
            </nav>
        
            <div class="header--title-container">
                <h1>Inversiones profesionales al alcance de todos</h1>
                <p>Te acompañamos a tomar la mejor decisión</p>
                <a href="{% url 'sign_in' %}" class="header--button">Iniciar sesión <span></span></a>
            </div>
        </header>

        <main>

            <section class="main-categories">
                <div class="categories-detail--container">
                    <a href="{% url 'industry' %}">
                        <article class="categories-detail--card">
                            <span class="categories-detail--fixed_income"></span>
                            <p class="categories--card-title">
                                Renta Fija
                            </p>
                            <p class="categories--card-body">
                                Depósitos, Bonos, entre otros
                            </p>
                        </article>
                    </a>

                    <a href="{% url 'industry' %}">
                        <article class="categories-detail--card">
                            <span class="categories-detail--equity"></span>
                            <p class="categories--card-title">
                                Renta Variable
                            </p>
                            <p class="categories--card-body">
                                Acciones
                            </p>
                        </article>
                    </a>

                    <a href="{% url 'industry' %}">
                        <article class="categories-detail--card">
                            <span class="categories-detail--real_estate"></span>
                            <p class="categories--card-title">
                                Inmobiliario
                            </p>
                            <p class="categories--card-body">
                                Residencial, industrial, oficinas, comercial
                            </p>
                        </article>
                    </a>

                    <a href="{% url 'industry' %}">
                        <article class="categories-detail--card">
                            <span class="categories-detail--private_debt"></span>
                            <p class="categories--card-title">
                                Deuda Privada
                            </p>
                            <p class="categories--card-body">
                                Créditos directos
                            </p>
                        </article>
                    </a>

                    <a href="{% url 'industry' %}">
                        <article class="categories-detail--card">
                            <span class="categories-detail--blockchain"></span>
                            <p class="categories--card-title">
                                Activos digitales
                            </p>
                            <p class="categories--card-body">
                                Blockchain, Web3, criptoactivos
                            </p>
                        </article>
                    </a>

                    <a href="{% url 'industry' %}">
                        <article class="categories-detail--card">
                            <span class="categories-detail--pension"></span>
                            <p class="categories--card-title">
                                Otros
                            </p>
                            <p class="categories--card-body">
                                Fondos de pensiones, Fondos Voluntarios y más
                            </p>
                        </article>
                    </a>
                    
                </div>

                <div class="categories--title">
                    <h2>Un único lugar para las inversiones</h2>
                    <p>Combinamos tecnologia y conocimiento de mercado para poner a tu disposición inversiones profesionales</p>    
                </div>

            </section>
            
            <section class="main-product-detail">
                <span class="product-detail--flecha"></span>
                <div class="product-detail--title">
                    <h2>
                        Creamos una plataforma pensando en ti
                    </h2>
                    <p>Estamos convencidos de que todas las personas merecen acceder a las mejores posibilidades de inversión para alcanzar sus objetivos</p>
                </div>

                <section class="product-cards--container">
                    <article class="product-detail--card">
                        <span class="check"></span>
                        <p class="product--card-title">
                            Confianza y seguridad
                        </p>
                        <p class="product--card-body">
                            Invierte fácil, agilmente y con entidades respaldadas
                        </p>
                    </article>

                    <article class="product-detail--card">
                        <span class="clock"></span>
                        <p class="product--card-title">
                            Accede a Mercados Privados
                        </p>
                        <p class="product--card-body">
                            Encuentra una selección de oportunidades de inversión que antes sólo estaban disponibles para institucionales y ultra ricos
                        </p>
                    </article>

                    <article class="product-detail--card">
                        <span class="dollar"></span>
                        <p class="product--card-title">
                            Inversión basada en objetivos
                        </p>
                        <p class="product--card-body">
                            Elige productos que cumplan con tus objetivos de generar ingresos, crecimiento y preservación de capital
                        </p>
                    </article>

                    <article class="product-detail--card">
                        <span class="eye"></span>
                        <p class="product--card-title">
                            Calidad y Transparencia
                        </p>
                        <p class="product--card-body">
                            Todas las alternativas son evaluadas por un equipo experimentado. Monitorea tus inversiones y recibe información sobre las oportunidades
                        </p>
                    </article>
                </section>
            </section>

            <section class="background-img-container">
                <a href="{% url 'welcome' %}">
                    <h2>Conócenos hoy.</h2>
                </a>
            </section>

            <section class="main-container">
                <div class="backgroundImg">

                </div>
                <div class="main-container--title">
                    <h2>Encuentra información del mercado</h2>
                    <p>Te entregamos información actualizada de los produtos de la industria</p>
                </div>

                <section class="main-tables-container">
                    <div class="main-return-table">
                        <p class="return-table--title">Valor del Fondo</p>
                        <div class="return-table--container">
                            <table>
                                <tr>
                                    <td class="table__top-left">Producto 1</td>
                                    <td class="table__top-right table__right">COP 11.7 <span>billones</span></td>
                                </tr>
                                <tr>
                                    <td>Producto 2</td>
                                    <td class=" table__right">COP 7.1 <span>billones</span></td>
                                </tr>
                                <tr>
                                    <td>Producto 3</td>
                                    <td class=" table__right">COP 4.5 <span>billones</span></td>
                                </tr>
                                <tr>
                                    <td class="table__bottom-left">Producto 4</td>
                                    <td class="table__bottom-right table__right">COP 3.1 <span>billones</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="return-table--date">
                            <p>
                                Actualizado: <b> 30 de abril 2022</b>
                            </p>
                        </div>
                    </div>

                    <div class="main-return-table">
                        <p class="return-table--title">Retorno Anual</p>
                        <div class="return-table--container">
                            <table>
                                <tr>
                                    <td class="table__top-left">Fondo 1</td>
                                    <td class="table__top-right table__right">X% <span>+</span></td>
                                </tr>
                                <tr>
                                    <td>Fondo 2</td>
                                    <td class=" table__right">X% <span>-</span></td>
                                </tr>
                                <tr>
                                    <td>Fondo 3</td>
                                    <td class=" table__right">X% <span>+</span></td>
                                </tr>
                                <tr>
                                    <td class="table__bottom-left">Fondo 4</td>
                                    <td class="table__bottom-right table__right">X% <span>-</span></td>
                                </tr>
                            </table>
                        </div>
                        <div class="return-table--date">
                            <p>
                                Actualizado: <b> 30 de abril 2022</b>
                            </p>
                        </div>
                    </div>
                </section>
            </section>

            <section id="plans" class="main-plans-container">
                <div class="plans--title">
                    <h2>
                        Elige la opción que mejor te represente
                    </h2>
                    <p>
                        Todos los usuarios tienen acceso completo a nuestra plataforma.
                    </p>
                </div>
                
                <section class="plans-container--slider">
                    <article class="plans-container--card">
                        <p class="recommended">Empresas</p>
                        <div class="plan-info-container">
                            <h3 class="plan-card--title">
                                ¡Gratis!
                            </h3>
                            <p class="plan-card--price"><span>$</span>0</p>
                            <p class="plan-card--saving">Compara y encuentra opciones para los objetivos de tu compañía</p>
                            <a class="plan-card--ca" href="{% url 'welcome' %}">Ingresa <span></span></a>
                        </div>
                    </article>

                    <article class="plans-container--card">
                        <p class="recommended">Personas</p>
                        <div class="plan-info-container">
                            <h3 class="plan-card--title">
                                ¡Gratis!
                            </h3>
                            <p class="plan-card--price"><span>$</span>0</p>
                            <p class="plan-card--saving">Encuentra en un único punto todo tipo de alternativas de inversión</p>
                            <a class="plan-card--ca" href="{% url 'welcome' %}">Ingresa <span></span></a>
                        </div>
                    </article>

                    <article class="plans-container--card">
                        <p class="recommended">Aliados</p>
                        <div class="plan-info-container">
                            <h3 class="plan-card--title">
                                ¡Colaboremos Juntos!
                            </h3>
                            <p class="plan-card--price"><span>%</span>100</p>
                            <p class="plan-card--saving">Unidos podemos llevar las inversiones a otro nivel</p>
                            <a class="plan-card--ca" href="{% url 'welcome' %}">Ingresa <span></span></a>
                        </div>
                    </article>
                </section>
            </section>
            
            <section class="main-welcome">
                <h2>¡Bienvenidos!</h2>
                <p>Trabajamos para ofrecerte la mejor experiencia</p>
            </section>

        </main>

        {% include 'footer.html' %}
        
    </body>
</html>